@import "./colors.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  padding: 0 10px;
}

.modules-left {
  margin-left: 8px;
}

#custom-omarchy {
  font-size: 12px;
  background-image: url('./assests/logo-png.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  color: @foreground;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-wifi,
#custom-bluetooth {
  min-width: 12px;
  margin: 0 7.5px;
}

tooltip {
  padding: 2px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 12px;
}
